
<%- include('./partials/head.ejs', {cssSheet: "styles.css", title: "Home"}) %>
<%- include('./partials/header.ejs') %>

<body class="background-index">
    

    <main>
        <h2 class="titulo-main"> Productos Destacados</h2>
        <!-- <button id="ordenarMayorAMenor">ordenar Mayor A Menor</button>
        <button id="ordenarMenorAMayor">ordenar Menor A Mayor</button> -->
        
        <section class="caja-productos-destacados">
            <% productos.slice(0, 12).forEach(producto => { %>
                <a href="products/Detalle-Producto/<%= producto.id %>" class="caja-producto">
                    <img src="<%= producto.image %>" class="imagen-producto">
                    <div class="descripcion-producto">
                        <ul class="lista-descripcion-producto">
                            <li><%=producto.name %></li>
                            <li>Desde $<%= producto.price %></li>
                        </ul>
                    </div>
                </a>
            <% }) %>
        </section>
                        
        </section>
        <h2 class="titulo-nuevos-productos">Nuevos Productos</h2>
        <section class="caja-productos-nuevos">

            <%productos.slice(-4).forEach(producto => { %>

                <div class="caja-hija-productos-nuevos" >
                    <img src="<%= producto.image %>" class="imagen-producto-nuevo">
                    <div class="ver-mas"><a href="/products/Detalle-Producto/<%= producto.id %>" class="link-ver-mas">Ver Mas</a></div>
                </div>
                
            </div>

            <% }) %>
            </section>
            



        <script src="/js/index.js"></script>




    </main>
</body>

 <%- include('./partials/footer.ejs') %>