<%- include('../partials/head.ejs', {cssSheet: "styles.css", title: "Registro"}) %>
<%- include('../partials/header.ejs') %>

<main>
    <div class="formulario-registro">
        
        <form action="/users/register" method="POST" enctype="multipart/form-data" id="formularioRegistro">
            <h2>Registro</h2>
            <ul id="mensajeErrores"></ul>
            <div class="item-formulario">
                <label for="nombre">Nombre</label>
                <input type="text" id="nombre" name="name" value="<%= locals.oldData ? oldData.name : null %>" >
                    <div class="text-danger">

                    <% if (locals.errors && errors.name){ %>
                    <%= errors.name.msg %>
                    <% } %>    
                    </div>
            </div>
            <div class="item-formulario">
                <label for="apellido">Apellido</label>
                <input type="text" id="apellido" name="lastName" value="<%= locals.oldData ? oldData.lastName : null %>">
                <div class="text-danger">

                    <% if (locals.errors && errors.lastName){ %>
                    <%= errors.lastName.msg %>
                    <% } %>    
                    </div>
            </div>
            <div class="item-formulario">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" value="<%= locals.oldData ? oldData.email : null %>">
                <div class="text-danger">

                    <% if (locals.errors && errors.email){ %>
                    <%= errors.email.msg %>
                    <% } %>    
                    </div>
            </div>
            <div class="item-formulario">
                <label for="contraseña">Contraseña</label>
                <input type="password" id="contraseña" name="password" >
                <div class="text-danger">

                    <% if (locals.errors && errors.password){ %>
                    <%= errors.password.msg %>
                    <% } %>    
                    </div>
            </div>
            <div class="item-formulario">
                <label for="repetir-contraseña">Repetir Contraseña</label>
                <input type="password" id="repetir-contraseña" name="repeatPassword"  >
                <div class="text-danger">

                    <% if (locals.errors && errors.repeatPassword){ %>
                    <%= errors.repeatPassword.msg %>
                    <% } %>    
                    </div>
            </div>
            
            <div class="item-formulario">
                <label for="telefono">Teléfono</label>
                <input type="tel" id="telefono" name="phoneNumber" value="<%= locals.oldData ? oldData.phoneNumber : null %>">
                <div class="text-danger">

                    <% if (locals.errors && errors.phoneNumber){ %>
                    <%= errors.phoneNumber.msg %>
                    <% } %>    
                    </div>
            </div>
            <div class="item-formulario">
                <label for="pais">País</label>
                <input type="text" id="pais" name="country" value="<%= locals.oldData ? oldData.country : null %>">
                <div class="text-danger">

                    <% if (locals.errors && errors.country){ %>
                    <%= errors.country.msg %>
                    <% } %>    
                    </div>
            </div>
            <div class="item-formulario">
                <label for="localidad">Localidad</label>
                <input type="text" id="localidad" name="city" value="<%= locals.oldData ? oldData.city : null %>">
                <div class="text-danger">

                    <% if (locals.errors && errors.city){ %>
                    <%= errors.city.msg %>
                    <% } %>    
                    </div>
            </div>
            <div class="item-formulario">
                <label for="localidad">Imagen de Perfil</label>
                <input type="file" name="avatar" id="avatar">
                <div class="text-danger">

                    <% if (locals.errors && errors.avatar){ %>
                    <%= errors.avatar.msg %>
                    <% } %>    
                    </div>
            </div>
            <button class="boton-registro" type="submit">Registrar</button>
        </form>
    </div>
  </main>
 <script src="/js/register.js"></script>
  <%- include('../partials/footer.ejs') %>