<%- include('../partials/head.ejs', {cssSheet: "styles.css", title: "Login"}) %>
<%- include('../partials/header.ejs') %>

<div class="user-Profile">
   
        <div class="col-md-3">
            <h2> Hola <%= users.name + " "+ users.lastName%>! </h2>
            <img src="/img/users/<%= users.avatar %> " alt="">
            <br>
            <br>
            <div class="alert-alert-success"> <%= users.email %> </div>
            <div class="buttom-home">
                <button class="button-logout">
                    <a href="/">Inicio</a>
                </button>
            </div>
        </div>
</div>

<%- include('../partials/footer.ejs') %>