<%- include('../partials/head.ejs', {cssSheet: "styles.css", title: "Crear Producto"}) %>
<%- include('../partials/header.ejs') %>

<main class="main-editarProducto">
    <h2 class="titulo-editarProducto">Crear Producto</h2>
    <form action="/products/Crear-Producto" class="form-editarProducto" method="POST" enctype="multipart/form-data">
        <div class="item-editarProducto">
            <label for="name">Nombre del Producto</label>
            <input class="input-create-list" type="text" id="name" name="name" value="<%= locals.oldData ? oldData.name : null %>" required>
            <div class="text-danger">

                <% if (locals.errors && errors.name){ %>
                <%= errors.name.msg %>
                <% } %>    
                </div>
        </div>
        <div class="item-editarProducto">
            <label for="description">Descripcion del Producto</label>
            <textarea id="description" name="description" required></textarea>
                <div class="text-danger">

                <% if (locals.errors && errors.description){ %>
                <%= errors.description.msg %>
                <% } %>    
                </div>
        </div>
        <div class="item-editarProducto">
            <label for="image">Imagen del Producto</label>
            <input type="file" class="input-create-list" id="image" name="imagenProducto" required>
            <div class="text-danger">

                <% if (locals.errors && errors.imagenProducto){ %>
                <%= errors.imagenProducto.msg %>
                <% } %>    
                </div>
        </div>
        
        <div class="item-editarProducto">
            <label for="categories">Categoría</label>
            <select id="category_id" name="categories" required>
                <option value="" disabled selected>Elige uno</option>
                <% for (let i = 0 ; i < categories.length ; i++){ %>
                <option value="<%= categories[i].id %>"><%= categories[i].name %></option>
                <% } %>
            </select>
            <div class="text-danger">

                <% if (locals.errors && errors.categories){ %>
                <%= errors.categories.msg %>
                <% } %>    
                </div>
        </div>
    
        <div class="item-editarProducto" id="colour-product-list">
            <label for="colours">Color del Producto:</label>
            <div class="colours-container">
                <% for (let i = 0 ; i < colours.length ; i++){ %>
                    <div class="colour-option">
                        <input type="checkbox" id="colour<%= i %>" name="colours"  value="<%= colours[i].id %>">
                        <label for="colour<%= i %>"><%= colours[i].colour %></label>
                    </div>
                <% } %>
            </div>
            <div class="text-danger">

                <% if (locals.errors && errors.colours){ %>
                <%= errors.colours.msg %>
                <% } %>    
                </div>
        </div>

        <div class="item-editarProducto">
            <label for="price">Precio del Producto</label>
            <input type="text" id="price" class="input-create-list" name="price" required>
            <div class="text-danger">

                <% if (locals.errors && errors.price){ %>
                <%= errors.price.msg %>
                <% } %>    
                </div>
        </div>
        
        <button class="boton-editarProducto" type="submit">Enviar</button>


</main>


<%- include('../partials/footer.ejs') %>