<%- include('../partials/head.ejs', {cssSheet: "styles.css", title: "Editar Producto"}) %>
<%- include('../partials/header.ejs') %>

<main class="main-editarProducto">
    <h2 class="titulo-editarProducto">Editar Producto</h2>
    <form action="/products/admin/edit/<%= modifyProduct.id %>?_method=PUT" method="POST" class="form-editarProducto">
        <div class="item-editarProducto">
            <label for="nombreProducto">Nombre del Producto</label>
            <input type="text" id="nombreProducto" name="nombreProducto" required value="<%= modifyProduct.name%>">
        </div>
        <div class="item-editarProducto">
            <label for="descipcionProducto">Descripcion del Producto</label>
            <input type="textarea" id="descipcionProducto" name="descipcionProducto" required value="<%= modifyProduct.description%>">
        </div>
        <div class="item-editarProducto">
            <label for="imagenProducto">Imagen del Producto</label>
            <input type="file" id="imagenProducto" name="imagenProducto" required value="">
        </div>
        <div class="item-editarProducto">
            <label for="categoria">Categoria</label>
            <input type="select" id="categoria" name="categoria" required value="">
        </div>
        <div class="item-editarProducto">
            <label for="colorProducto">Color del Producto</label>
            <input type="text" id="colorProducto" name="colorProducto" required value="<%= modifyProduct.colour%>">
        </div>
        <div class="item-editarProducto">
            <label for="precioProducto">Precio del Producto</label>
            <input type="text" id="precioProducto" name="precioProducto" required value="<%= modifyProduct.price%>">
        </div>
        
        <button class="boton-editarProducto" type="submit">Editar</button>
    </form>
</main>


<%- include('../partials/footer.ejs') %>