<%- include('../partials/head.ejs', {cssSheet: "styles.css", title: "Editar Producto"}) %>
<%- include('../partials/header.ejs') %>

<main class="main-editarProducto">

    <h2 class="titulo-editarProducto">Editar Producto</h2>

    <form action="/products/edit/<%= product.id %>?_method=PUT" method="POST" class="form-editarProducto">
        
        <div class="item-editarProducto"> 
            <label for="name">Nombre del Producto</label>
            <input type="text" id="name" name="name"  value="<%= product.name%>">
        </div>

        <div class="item-editarProducto">
            <label for="description">Descripcion del Producto</label>
            <input type="textarea" id="description" name="description"  value="<%= product.description%>">
        </div>

        <!-- <div class="item-editarProducto">
            <label for="imagenProducto">Imagen del Producto</label>
            <input type="file" id="imagenProducto" name="imagenProducto"  value="<= modifyProduct.image %>">
        </div> -->


        <div class="item-editarProducto">
            <label for="categoryProduct">Categoría de producto</label>
            <select id="categoryProduct" name="categoryProduct">
                <% categories.forEach(category => { %>
                    <option value="<%= category.id %>" <%= (product.category_id && product.category_id === category.id) ? 'selected' : '' %>> <%= category.name %> </option>
                <% }); %>
            </select>
        </div>
        


        <div class="item-editarProducto" id="colour-product-list">
            <label>Color del Producto</label>
            <% const selectedColourId = product.colour_id; %>
            <% colour.forEach(colour => { %>
                <input type="checkbox" id="colour_<%= colour.id %>" name="colours" value="<%= colour.id %>" class="checkbox-editarProducto" <% if (selectedColourId === colour.id) { %> checked <% } %>>
                <label for="colour_<%= colour.id %>" class="label-colorProducto"><%= colour.colour %></label>
            <% }) %>
        </div>
        
        
        
        
        <div class="item-editarProducto">
            <label for="price">Precio del Producto</label>
            <input type="text" id="price" name="price"  value="<%= product.price%>">
        </div>
        
        <button class="boton-editarProducto" type="submit">Editar</button>
    </form>
    
</main>


<%- include('../partials/footer.ejs') %>