<%- include('../partials/head.ejs', {cssSheet: "styles.css", title: "Editar Producto"}) %>
<%- include('../partials/header.ejs') %>
<body class="background-index">
<main class="main-editarProducto">

    <h2 class="titulo-editarProducto">Editar Producto</h2>
    <ul id="mensajeErrores"></ul>

    <form action="/products/edit/<%= product.id %>?_method=PUT" method="POST" class="form-editarProducto" enctype="multipart/form-data" id="formularioEditarProducto">
        
        <div class="item-editarProducto"> 
            <label for="name">Nombre del Producto</label>
            <input type="text" id="name" name="name"  value="<%= product.name%>">
            <div class="text-danger">

                <% if (locals.errors && errors.name){ %>
                <%= errors.name.msg %>
                <% } %>    
                </div>
        </div>

        <div class="item-editarProducto">
            <label for="description">Descripcion del Producto</label>
            <input type="textarea" id="description" name="description"  value="<%= product.description%>">
            <div class="text-danger">

                <% if (locals.errors && errors.description){ %>
                <%= errors.description.msg %>
                <% } %>    
                </div>
        </div>

        <div class="item-editarProducto">
            <label for="imagenProducto">Imagen del Producto</label>
            <input type="file" id="image" name="imagenProducto">
            <div class="text-danger">

                <% if (locals.errors && errors.imagenProducto){ %>
                <%= errors.imagenProducto.msg %>
                <% } %>    
                </div>
        </div> 


        <div class="item-editarProducto">
            <label for="category_id">Categoría de producto</label>
            <select id="category_id" name="category_id">
                <% categories.forEach(category => { %>
                    <option value="<%= category.id %>" <%= (product.category_id && product.category_id === category.id) ? 'selected' : '' %>> <%= category.name %> </option>
                <% }); %>
            </select>
            <div class="text-danger">

                <% if (locals.errors && errors.category_id){ %>
                <%= errors.category_id.msg %>
                <% } %>    
                </div>
        </div>
        


        <div class="item-editarProducto" id="colour-product-list">
            <label>Color del Producto</label>
            <div class="colours-container">

                <% colour.forEach(colour => { %>
                    <div class="colour-option">
                    <input type="checkbox" id="colour" name="colours" value="<%= colour.id %>" class="checkbox-editarProducto" <% if (coloresAsociados.find(colourAsociado => colourAsociado.id === colour.id)) { %> checked <% } %>>
                    <label for="colour_<%= colour.id %>" class="label-colorProducto"><%= colour.colour %></label>
                    </div>
                    <% }) %>
                </div>
            <div class="text-danger">
                <% if (locals.errors && errors.colours){ %>
                    <%= errors.colours.msg %>
                <% } %>    
            </div>
        </div>
        
        
        
        
        <div class="item-editarProducto">
            <label for="price">Precio del Producto</label>
            <input type="text" id="price" name="price"  value="<%= product.price%>">
            <div class="text-danger">

                <% if (locals.errors && errors.price){ %>
                <%= errors.price.msg %>
                <% } %>    
                </div>
        </div>
        
        <button class="boton-editarProducto" type="submit">Editar</button>
    </form>
    
</main>

<script src="/js/editProduct.js"></script>
</body>

<%- include('../partials/footer.ejs') %>