<%- include('../partials/head.ejs', {cssSheet: "styles.css", title: "Detalle de Producto"}) %>
<%- include('../partials/header.ejs') %>

    
    
    <body class="background-product">
        <main class="main-product">
        <% if (locals.isLogged) { %>
        <a href="/products/edit/<%= product.id %>" class="link-editar">
        <h4 class="modificar-producto"><i class="fa-solid fa-pen-to-square  edit-product"></i>Modificar</h4>
        </a>
        <style>
            .background-product{
                 margin-top: 110px;
                }
        </style>
        <% } else { %>
            <style>
                .background-product{
                     margin-top: 150px;
                    }
            </style>
        <% } %>
        <div class="products">
            <div>
                <img src="<%= product.image %>" alt="<%= product.name %>">
            </div>
            <div class="pay">
                
                <h1 class="product-name"><%= product.name %></h1>
                <h3 class="view">⭐⭐⭐⭐⭐</h3> 
                <h2 class="price-green">$ <%= product.price %></h2>
                <a href="" class="payment">Ver los medios de pago</a>
                <div class="cantidad">
                    <h4>Cantidad:</h4>
                <select name="cantidad" id="">
                    <option value="1">1 unidad</option>
                    <option value="2">2 unidades</option>
                    <option value="3">3 unidades</option>
                    <option value="4">4 unidades</option>
                    <option value="5">5 unidades</option>
                </select>
            </div>
            
                <div class="buttons-product">
                <button class="button-buy"> <a href="/Carrito-de-compras"> Comprar</a></button>
                <button class="button-shopping-cart"> <a href="/Carrito-de-compras"> Agregar al carrito</a></button>

                <!-- <button class="button-edit">Modificar producto</button> -->
                <% if (locals.isLogged) { %>
                    <form action="/products/eliminarProducto/<%= product.id %>?_method=DELETE"  method="POST" id="eliminarProductoForm">
                        <button class="button-delete">Eliminar producto</button>
                    </form>
                <% } %>
                
            </div>
            </div>
        </div>

        <div class="product-detail">
            <h2 class="detail">Detalle del producto</h2>
            <p><%= product.description %></p>
        </div>
        <div class="product-detail" id="display-de-colores">
            <h2 class="detail">Color del producto</h2>
            
                <ul class="colors">
                    <% product.colours.forEach(colour => { %>
                        <li><%= colour.colour %></li>
                    <% }) %>
                    </ul>
            
        </div>
    </main>
    </body>
    <%- include('../partials/footer.ejs') %>
