<%- include('../partials/head.ejs', {cssSheet: "styles.css", title: "Detalle de Producto"}) %>
<%- include('../partials/header.ejs') %>

    
    <main class="main-detalleProducto">
        <div class="titulo-principal">
            <h1>Detalle de Productos:</h1>
        </div>

        <div class="nombre-producto">
            <h2><%= singleProduct.name %></h2>
        </div>
   
        <div class="container-producto">
            <div class="imagen-producto">
                <img src="/img/products/<%= singleProduct.image %>" alt="<%= singleProduct.name %>" class="imagen-single-product">
            </div>
            <div class="descripcion-producto">
                <p class="descripcion"><u class="subrayado">Descripcion:</u> <%= singleProduct.description %></p>
                <p class="descripcion"><u class="subrayado">Color:</u> <%= singleProduct.colour %></p>
                <p class="descripcion"><u class="subrayado">Costo por unidad:</u> $<%= singleProduct.price %></p>
                <p class="descripcion"><u class="subrayado">Formas de pago</u>: efectivo - débito - crédito - Mercado Pago</p>
                <p class="descripcion"><u class="subrayado">Modos de envio</u>: Correo Argentino - Andreani - retiro en oficina</p>
            
                <p class="agregarAlCarrito">Agregar al carrito:</p>
                <button class="button-carrito"><i class="fa-solid fa-cart-shopping" id="fa-cart-shopping"></i></button>
                
                
                <a href="/products/edit/<%= singleProduct.id %>" class="link-editar">
                    <button class="button-editar-productDetail" title="Editar producto">
                        <i class="fa-regular fa-pen-to-square"></i>
                    </button>
                </a>
                
                
                <form action="/products/admin/eliminarProducto/<%= singleProduct.id %>?_method=DELETE" method="POST" id="eliminarProductoForm">
                    <!-- Campo oculto para method-override -->
                    <input type="hidden" name="_method" value="DELETE">
                  
                    <!-- Otros campos o botones del formulario -->
                    <button type="submit" class="button-eliminar-productDetail" title="Eliminar producto">
                      <i class="fa-solid fa-x"></i>
                    </button>
                  </form>
            </div>

        </div>


        <div class="flechas">
            <div class="flecha-anterior">
                <button class="button-flechaAnterior" title="Producto anterior"><i class="fa-solid fa-arrow-left"></i></button>
            </div>

            <div class="flecha-siguiente">
                <button class="button-flechaSiguiente" title="Producto siguiente"><i class="fa-solid fa-arrow-right"></i></button>
            </div>
        </div>

            

    </main>

    <%- include('../partials/footer.ejs') %>
