<%- include('../partials/head.ejs', {cssSheet: "styles.css", title: "Detalle de Producto"}) %>
<%- include('../partials/header.ejs') %>

    
    <!-- <main class="main-detalleProducto">
        <div class="titulo-principal">
            <h1>Detalle de Productos:</h1>
        </div>

        <div class="nombre-producto">
            <h2><%= product.name %></h2>
        </div>
   
        <div class="container-producto">
            <div class="imagen-producto">
                <img src="/img/products/<%= product.image %>" alt="<%= product.name %>" class="imagen-single-product">
            </div>
            <div class="descripcion-producto">
                <p class="descripcion"><u class="subrayado">Descripcion:</u> <%= product.description %></p>
                <p class="descripcion"><u class="subrayado">Color:</u> <%= product.colour %></p>
                <p class="descripcion"><u class="subrayado">Costo por unidad:</u> $<%= product.price %></p>
                <p class="descripcion"><u class="subrayado">Formas de pago</u>: efectivo - débito - crédito - Mercado Pago</p>
                <p class="descripcion"><u class="subrayado">Modos de envio</u>: Correo Argentino - Andreani - retiro en oficina</p>
            
                <p class="agregarAlCarrito">Agregar al carrito:</p>
                <button class="button-carrito"><i class="fa-solid fa-cart-shopping" id="fa-cart-shopping"></i></button>
                
                
                <a href="/products/edit/<%= product.id %>" class="link-editar">
                    <button class="button-editar-productDetail" title="Editar producto">
                        <i class="fa-regular fa-pen-to-square"></i>
                    </button>
                </a>
                
                
                <form action="/products/admin/eliminarProducto/<%= product.id %>?_method=DELETE"  method="POST" id="eliminarProductoForm">
                
                    <button type="submit" class="button-eliminar-productDetail" title="Eliminar producto">
                      <i class="fa-solid fa-x"></i>
                    </button>
                </form>
            </div>

        </div>


        <div class="flechas">
            <div class="flecha-anterior">
                <button class="button-flechaAnterior" title="Producto anterior"><i class="fa-solid fa-arrow-left"></i></button>
            </div>

            <div class="flecha-siguiente">
                <button class="button-flechaSiguiente" title="Producto siguiente"><i class="fa-solid fa-arrow-right"></i></button>
            </div>
        </div>

            

    </main> -->

    <body class="background-product">
        <% if (locals.isLogged) { %>
        <a href="/products/edit/<%= product.id %>" class="link-editar">
        <h4 class="modificar-producto"><i class="fa-solid fa-pen-to-square  edit-product"></i>Modificar</h4>
        </a>
        <% } else { %>
            <style>
                .background-product{
                     margin-top: 200px;
                    }
            </style>
        <% } %>
        <div class="products">
            <div>
                <img src="<%= product.image %>" alt="<%= product.name %>">
            </div>
            <div class="pay">
                
                <h1 class="product-name"><%= product.name %></h1>
                <h3 class="view">⭐⭐⭐⭐⭐</h3> 
                <h2 class="price-green">$ <%= product.price %></h2>
                <a href="" class="payment">Ver los medios de pago</a>
                <div class="cantidad">
                    <h4>Cantidad:</h4>
                <select name="cantidad" id="">
                    <option value="1">1 unidad</option>
                    <option value="2">2 unidades</option>
                    <option value="3">3 unidades</option>
                    <option value="4">4 unidades</option>
                    <option value="5">5 unidades</option>
                </select>
            </div>
            
                <div class="buttons-product">
                <button class="button-buy"> Comprar</button>
                <button class="button-shopping-cart"> Agregar al carrito</button>

                <!-- <button class="button-edit">Modificar producto</button> -->
                <% if (locals.isLogged) { %>
                    <form action="/products/eliminarProducto/<%= product.id %>?_method=DELETE"  method="POST" id="eliminarProductoForm">
                        <button class="button-delete">Eliminar producto</button>
                    </form>
                <% } %>
                
            </div>
            </div>
        </div>

        <div class="product-detail">
            <h2 class="detail">Detalle del producto</h2>
            <p><%= product.description %></p>
        </div>
        <div class="product-detail" id="display-de-colores">
            <h2 class="detail">Color del producto</h2>
            <div>
                <ul>
                    <% product.colours.forEach(colour => { %>
                        <li><%= colour.colour %></li>
                    <% }) %>
                    </ul>
            </div>
        </div>
    </body>
    <%- include('../partials/footer.ejs') %>
